Repository suitenumerique/people, pull requests merged in 2024-05, with the labels that each got.

#215 🐛(app-desk) fix fetchPriority warning
  src/frontend/apps/desk/package.json
  src/frontend/package.json
  src/frontend/yarn.lock
Labels: bug, frontend, noChangeLog

#206 💬(app-desk) change some texts
  src/frontend/apps/desk/src/features/members/__tests__/MemberGrid.test.tsx
  src/frontend/apps/desk/src/features/members/__tests__/ModalRole.test.tsx
  src/frontend/apps/desk/src/features/members/components/ChooseRole.tsx
  src/frontend/apps/desk/src/features/members/components/MemberAction.tsx
  src/frontend/apps/desk/src/features/members/components/MemberGrid.tsx
  src/frontend/apps/desk/src/features/members/components/ModalRole.tsx
  src/frontend/apps/desk/src/features/teams/components/TeamInfo.tsx
  src/frontend/apps/desk/src/i18n/translations.json
  src/frontend/apps/e2e/__tests__/app-desk/common.ts
  src/frontend/apps/e2e/__tests__/app-desk/member-create.spec.ts
  src/frontend/apps/e2e/__tests__/app-desk/member-delete.spec.ts
  src/frontend/apps/e2e/__tests__/app-desk/member-grid.spec.ts
  src/frontend/apps/e2e/__tests__/app-desk/team.spec.ts
  src/frontend/apps/e2e/__tests__/app-desk/teams-create.spec.ts
  src/frontend/apps/e2e/__tests__/app-desk/teams-delete.spec.ts
Labels: frontend, noChangeLog

#195 🐛(ci) improve docker-hub
  .github/workflows/docker-hub.yml
Labels: noChangeLog
