Repository suitenumerique/people, pull requests merged in 2024-09, with the labels that each got.

#306 🔨(make) add domains to demo
  src/backend/demo/defaults.py
  src/backend/demo/management/commands/create_demo.py
  src/backend/demo/tests/test_commands_create_demo.py
Labels: noChangeLog, backend

#378 📈(monitoring) configure sentry monitoring
  CHANGELOG.md
  src/backend/people/settings.py
  src/backend/pyproject.toml
  src/helm/env.d/dev/values.desk.yaml.gotmpl
  src/helm/env.d/preprod/values.desk.yaml.gotmpl
  src/helm/env.d/production/values.desk.yaml.gotmpl
  src/helm/env.d/staging/values.desk.yaml.gotmpl
Labels: backend

#382 💬(frontend) update translations
  CHANGELOG.md
  src/frontend/apps/desk/src/features/mail-domains/components/ModalAddMailDomain.tsx
  src/frontend/apps/desk/src/features/mail-domains/components/panel/PanelActions.tsx
  src/frontend/apps/desk/src/i18n/translations.json
  src/frontend/apps/desk/src/pages/mail-domains/index.tsx
  src/frontend/apps/e2e/__tests__/app-desk/config.spec.ts
  src/frontend/apps/e2e/__tests__/app-desk/mail-domains-add.spec.ts
Labels: frontend

#383 ♻️(dimail) refacto to better handle 500 errors from dimail
  src/backend/mailbox_manager/utils/dimail.py
Labels: noChangeLog, backend

#380 ✨(release) add python script to prepare release
  Makefile
  scripts/release.py
  scripts/utils.py
Labels: noChangeLog

#391 🔖(minor) release version 1.1.0
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/desk/package.json
  src/frontend/apps/e2e/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-people/package.json
  src/frontend/packages/i18n/package.json
  src/helm/env.d/preprod/values.desk.yaml.gotmpl
  src/helm/env.d/production/values.desk.yaml.gotmpl
Labels: release

#394 🔧(helm) add marie key to dev sops secret
  .sops.yaml
  src/helm/env.d/dev/secrets.enc.yaml
Labels: noChangeLog

#366 🍱(dimail) embark dimail-api as container
  CHANGELOG.md
  docker-compose.yml
  src/backend/mailbox_manager/tests/api/mailboxes/test_api_mailboxes_create.py
  src/backend/mailbox_manager/tests/test_models_mailboxes.py
  src/backend/people/settings.py
  src/helm/env.d/dev/values.desk.yaml.gotmpl
Labels: backend

#411 ✨(dimail) populate dimail local database for dev use
  Makefile
  src/backend/mailbox_manager/management/__init__.py
  src/backend/mailbox_manager/management/commands/__init__.py
  src/backend/mailbox_manager/management/commands/setup_dimail_db.py
Labels: noChangeLog, backend, dimail

#414 ♻️(serializers) move business logic to serializers
  CHANGELOG.md
  src/backend/mailbox_manager/api/serializers.py
  src/backend/mailbox_manager/factories.py
  src/backend/mailbox_manager/models.py
  src/backend/mailbox_manager/tests/api/mailboxes/test_api_mailboxes_create.py
  src/backend/mailbox_manager/tests/test_models_mailboxes.py
  src/backend/mailbox_manager/utils/dimail.py
Labels: backend

#416 ✨(dimail) allow la regie to request a token for another user
  CHANGELOG.md
  src/backend/mailbox_manager/api/serializers.py
  src/backend/mailbox_manager/tests/api/mailboxes/test_api_mailboxes_create.py
  src/backend/mailbox_manager/utils/dimail.py
Labels: noChangeLog, backend

#415 🔒️(helm) fix secret sync precedence
  src/helm/desk/templates/secrets.yaml
Labels: noChangeLog

#412 ⚗️(frontend) show username on AccountDropDown
  CHANGELOG.md
  src/frontend/apps/desk/src/features/header/AccountDropdown.tsx
  src/frontend/apps/desk/src/features/header/__tests__/AccountDropdown.test.tsx
  src/frontend/apps/desk/src/i18n/translations.json
  src/frontend/apps/e2e/__tests__/app-desk/header.spec.ts
Labels: frontend

#363 ✨(regie) allow group members filtering
  CHANGELOG.md
  src/frontend/apps/desk/src/api/hooks/__tests__/useDebounce.test.tsx
  src/frontend/apps/desk/src/api/hooks/index.ts
  src/frontend/apps/desk/src/api/hooks/useDebounce.tsx
  src/frontend/apps/desk/src/api/index.ts
  src/frontend/apps/desk/src/features/teams/member-management/__tests__/MemberGrid.test.tsx
  src/frontend/apps/desk/src/features/teams/member-management/__tests__/useTeamAccesses.test.ts
  src/frontend/apps/desk/src/features/teams/member-management/api/useTeamsAccesses.tsx
  src/frontend/apps/desk/src/features/teams/member-management/assets/icon-magnifying-glass.svg
  src/frontend/apps/desk/src/features/teams/member-management/components/MemberGrid.tsx
  src/frontend/apps/desk/src/i18n/translations.json
  src/frontend/apps/e2e/__tests__/app-desk/team.spec.ts
Labels: frontend

#427 🐛(dimail) fix mail notification upon mailbox creation
  src/mail/mjml/new_mailbox.mjml
Labels: noChangeLog, backend, dimail

#423 ✨(backend) domain accesses update API
  CHANGELOG.md
  src/backend/mailbox_manager/api/serializers.py
  src/backend/mailbox_manager/api/viewsets.py
  src/backend/mailbox_manager/models.py
  src/backend/mailbox_manager/tests/api/mail_domain_accesses/test_api_mail_domain_accesses_update.py
Labels: backend

#432 🔧(backend) fix configuration to avoid different ssl warning
  CHANGELOG.md
  src/backend/people/settings.py
Labels: backend, helm

#434 🔖(minor) release version 1.2.0
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/desk/package.json
  src/frontend/apps/e2e/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-people/package.json
  src/frontend/packages/i18n/package.json
  src/helm/env.d/preprod/values.desk.yaml.gotmpl
  src/helm/env.d/production/values.desk.yaml.gotmpl
Labels: release
