Repository suitenumerique/people, pull requests merged in 2024-04, with the labels that each got.

#160 ⚡️(app-desk) clean build pages
  src/frontend/apps/desk/src/api/__tests__/fetchApi.test.tsx
  src/frontend/apps/desk/src/api/fetchApi.ts
  src/frontend/apps/desk/src/core/AppProvider.tsx
  src/frontend/apps/desk/src/core/MainLayout.tsx
  src/frontend/apps/desk/src/core/auth/Auth.tsx
  src/frontend/apps/desk/src/core/auth/api/getMe.tsx
  src/frontend/apps/desk/src/core/auth/api/index.ts
  src/frontend/apps/desk/src/core/auth/api/types.ts
  src/frontend/apps/desk/src/core/auth/index.ts
  src/frontend/apps/desk/src/core/auth/useAuthStore.tsx
  src/frontend/apps/desk/src/core/index.ts
  src/frontend/apps/desk/src/features/addMembers/api/useCreateInvitation.tsx
  src/frontend/apps/desk/src/features/addMembers/api/useCreateTeamAccess.tsx
  src/frontend/apps/desk/src/features/addMembers/api/useUsers.tsx
  src/frontend/apps/desk/src/features/addMembers/types.tsx
  src/frontend/apps/desk/src/features/members/__tests__/ModalRole.test.tsx
  src/frontend/apps/desk/src/features/members/hooks/useWhoAmI.tsx
  src/frontend/apps/desk/src/features/members/types.tsx
  src/frontend/apps/desk/src/features/teams/components/TeamLayout.tsx
  src/frontend/apps/desk/src/features/teams/components/index.ts
  src/frontend/apps/desk/src/pages/404.tsx
  src/frontend/apps/desk/src/pages/_app.tsx
  src/frontend/apps/desk/src/pages/contacts/index.tsx
  src/frontend/apps/desk/src/pages/favorite/index.tsx
  src/frontend/apps/desk/src/pages/groups/index.tsx
  src/frontend/apps/desk/src/pages/index.tsx
  src/frontend/apps/desk/src/pages/recent/index.tsx
  src/frontend/apps/desk/src/pages/teams/[id].tsx
  src/frontend/apps/desk/src/pages/teams/create.tsx
  src/frontend/apps/desk/src/pages/teams/index.tsx
Labels: frontend, noChangeLog, easy pick

#165 🚸(app-desk) cannot select user or email already selected
  src/frontend/apps/desk/src/features/addMembers/api/useUsers.tsx
  src/frontend/apps/desk/src/features/addMembers/components/ModalAddMembers.tsx
  src/frontend/apps/desk/src/features/addMembers/components/SearchMembers.tsx
  src/frontend/apps/e2e/__tests__/app-desk/member-create.spec.ts
Labels: frontend, noChangeLog

#170 Update Github Actions version (Node.js 16 is deprecated)
  .github/workflows/people.yml
Labels: noChangeLog

#173 🔧(sops) update secrets
  .github/workflows/secrets.enc.env
  .sops.yaml
Labels: noChangeLog

#176 🔧(sops) update secrets
  src/helm/env.d/dev/secrets.enc.yaml
  src/helm/env.d/staging/secrets.enc.yaml
Labels: noChangeLog

#172 ✨(app-desk) create mails feature
  src/frontend/apps/desk/src/core/MainLayout.tsx
  src/frontend/apps/desk/src/features/mails/components/MailContent.tsx
  src/frontend/apps/desk/src/features/mails/components/MailLayout.tsx
  src/frontend/apps/desk/src/features/mails/components/index.tsx
  src/frontend/apps/desk/src/features/mails/index.tsx
  src/frontend/apps/desk/src/features/menu/Menu.tsx
  src/frontend/apps/desk/src/features/menu/assets/icon-mails.svg
  src/frontend/apps/desk/src/pages/mails/index.tsx
  src/frontend/apps/e2e/__tests__/app-desk/mails.spec.ts
  src/frontend/apps/e2e/__tests__/app-desk/menu.spec.ts
Labels: frontend, noChangeLog

#174 🩹(backend) address test flakiness while sorting Team accesses
  src/backend/core/tests/team_accesses/test_api_team_accesses_list.py
Labels: bug, noChangeLog

#183 🗃️(models) add MailDomain and MailDomainAccess models
  src/backend/mailbox_manager/__init__.py
  src/backend/mailbox_manager/apps.py
  src/backend/mailbox_manager/factories.py
  src/backend/mailbox_manager/migrations/0001_initial.py
  src/backend/mailbox_manager/migrations/__init__.py
  src/backend/mailbox_manager/models.py
  src/backend/mailbox_manager/tests/__init__.py
  src/backend/mailbox_manager/tests/test_models_mailboxes.py
  src/backend/mailbox_manager/tests/test_models_maildomain.py
  src/backend/mailbox_manager/tests/test_models_maildomainaccess.py
  src/backend/people/settings.py
Labels: noChangeLog, backend

#193 ✨(api) allow to list and create Mailboxes
  src/backend/mailbox_manager/api/__init__.py
  src/backend/mailbox_manager/api/serializers.py
  src/backend/mailbox_manager/api/viewsets.py
  src/backend/mailbox_manager/tests/test_api_mailboxes_create.py
  src/backend/mailbox_manager/tests/test_api_mailboxes_list.py
  src/backend/people/api_urls.py
Labels: noChangeLog, backend

#194 🧑‍💻(admin) register mailbox-related models to django admin
  src/backend/mailbox_manager/admin.py
  src/backend/mailbox_manager/models.py
Labels: noChangeLog, backend

#197 💚(ci) improve secrets for k8s deployment
  src/helm/env.d/staging/secrets.enc.yaml
  src/helm/env.d/staging/values.desk.yaml.gotmpl
  src/helm/extra/templates/secrets.yaml
  src/helm/helmfile.yaml
Labels: noChangeLog
