Repository suitenumerique/people, pull requests merged in 2024-10, with the labels that each got.

#443 🔖(patch) release version 1.2.1
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/desk/package.json
  src/frontend/apps/e2e/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-people/package.json
  src/frontend/packages/i18n/package.json
  src/helm/env.d/preprod/values.desk.yaml.gotmpl
  src/helm/env.d/production/values.desk.yaml.gotmpl
Labels: backend, release

#444 🐛(dimail) add status code in case of unexpected error
  src/backend/mailbox_manager/tests/api/mailboxes/test_api_mailboxes_create.py
  src/backend/mailbox_manager/utils/dimail.py
Labels: noChangeLog, backend

#449 🐛(frontend) Bug manage access role
  CHANGELOG.md
  src/frontend/apps/desk/src/features/mail-domains/access-management/components/ChooseRole.tsx
  src/frontend/apps/desk/src/features/mail-domains/access-management/components/ModalRole.tsx
  src/frontend/apps/desk/src/features/mail-domains/access-management/components/__tests__/ChooseRole.test.tsx
  src/frontend/apps/desk/src/features/mail-domains/access-management/components/__tests__/ModalRole.test.tsx
  src/frontend/apps/desk/src/features/mail-domains/domains/types.ts
Labels: bug, frontend

#452 🔧(sentry) reduce trace
  src/backend/people/settings.py
Labels: noChangeLog, backend

#439 📝(dimai) update docs on dimail
  README.md
  docs/interoperability/dimail.md
Labels: documentation, noChangeLog

#445 🛂(backend) match email if no existing user matches the sub
  CHANGELOG.md
  src/backend/core/authentication/backends.py
  src/backend/core/tests/authentication/test_backends.py
  src/backend/people/settings.py
Labels: backend

#470 🔖(minor) release version 1.3.0
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/desk/package.json
  src/frontend/apps/e2e/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-people/package.json
  src/frontend/packages/i18n/package.json
  src/helm/env.d/preprod/values.desk.yaml.gotmpl
  src/helm/env.d/production/values.desk.yaml.gotmpl
Labels: noChangeLog, release

#472 🔖(patch) release version 1.3.1
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/desk/package.json
  src/frontend/apps/e2e/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-people/package.json
  src/frontend/packages/i18n/package.json
  src/helm/env.d/preprod/values.desk.yaml.gotmpl
  src/helm/env.d/production/values.desk.yaml.gotmpl
Labels: noChangeLog, helm, release

#479 🐛(sentry) fix duplicated sentry errors
  CHANGELOG.md
  src/backend/people/settings.py
Labels: noChangeLog, backend

#466 ✨(frontend) add tabs for mail domain page
  .github/workflows/people.yml
  CHANGELOG.md
  src/frontend/apps/desk/next.config.js
  src/frontend/apps/desk/package.json
  src/frontend/apps/desk/src/components/tabs/CustomTabs.tsx
  src/frontend/apps/desk/src/components/tabs/custom-tabs.module.scss
  src/frontend/apps/desk/src/features/mail-domains/access-management/components/AccessesContent.tsx
  src/frontend/apps/desk/src/features/mail-domains/access-management/components/AccessesGrid.tsx
  src/frontend/apps/desk/src/features/mail-domains/access-management/components/__tests__/AccessesContent.test.tsx
  src/frontend/apps/desk/src/features/mail-domains/domains/components/MailDomainView.tsx
  src/frontend/apps/desk/src/features/mail-domains/mailboxes/components/MailDomainsContent.tsx
  src/frontend/apps/desk/src/features/mail-domains/mailboxes/components/__tests__/MailDomainsContent.test.tsx
  src/frontend/apps/desk/src/i18n/translations.json
  src/frontend/apps/desk/src/pages/mail-domains/[slug]/index.tsx
  src/frontend/apps/e2e/__tests__/app-desk/mail-domain.spec.ts
  src/frontend/yarn.lock
Labels: frontend, feature

#482 📝(CHANGELOG) fix modification declaration
  CHANGELOG.md
Labels: noChangeLog

#467 👷(ci) add sharding e2e tests
  .github/workflows/people.yml
  CHANGELOG.md
Labels: CI, feature

#484 ✏️(scripts) add some details for manual steps
  scripts/release.py
Labels: noChangeLog

#492 Improve E2E tests: fix stability issues, tighten controls
  .github/workflows/people.yml
  CHANGELOG.md
  src/backend/demo/management/commands/create_demo.py
  src/frontend/apps/e2e/playwright.config.ts
Labels: noChangeLog

#498 Use list reporter in addition to html
  src/frontend/apps/e2e/playwright.config.ts
Labels: noChangeLog
