Repository suitenumerique/people, pull requests merged in 2024-06, with the labels that each got.

#247 💚(ci) fix
  .github/workflows/docker-hub.yml
Labels: CI

#234 👷(helm) command createsuperuser
  bin/Tiltfile
  src/helm/desk/templates/backend_job_createsuperuser.yaml
  src/helm/env.d/dev/values.desk.yaml.gotmpl
  src/helm/env.d/preprod/values.desk.yaml.gotmpl
  src/helm/env.d/staging/values.desk.yaml.gotmpl
  src/helm/extra/templates/secrets.yaml
Labels: helm

#268 ✏️(frontend) change "mention légale" to "mentions légales"
  src/frontend/apps/desk/src/i18n/translations.json
Labels: frontend, easy pick

#248 ♻️(models) remove multiple identities
  Makefile
  src/backend/core/admin.py
  src/backend/core/api/viewsets.py
  src/backend/core/authentication/backends.py
  src/backend/core/factories.py
  src/backend/core/migrations/0001_initial.py
  src/backend/core/models.py
  src/backend/core/tests/authentication/test_backends.py
  src/backend/core/tests/authentication/test_views.py
  src/backend/core/tests/team_accesses/test_api_team_accesses_create.py
  src/backend/core/tests/team_accesses/test_api_team_accesses_delete.py
  src/backend/core/tests/team_accesses/test_api_team_accesses_list.py
  src/backend/core/tests/team_accesses/test_api_team_accesses_retrieve.py
  src/backend/core/tests/team_accesses/test_api_team_accesses_update.py
  src/backend/core/tests/teams/test_core_api_teams_create.py
  src/backend/core/tests/teams/test_core_api_teams_delete.py
  src/backend/core/tests/teams/test_core_api_teams_list.py
  src/backend/core/tests/teams/test_core_api_teams_retrieve.py
  src/backend/core/tests/teams/test_core_api_teams_update.py
  src/backend/core/tests/test_api_contacts.py
  src/backend/core/tests/test_api_team_invitations.py
  src/backend/core/tests/test_api_users.py
  src/backend/core/tests/test_models_identities.py
  src/backend/core/tests/test_models_invitations.py
  src/backend/core/tests/test_models_team_accesses.py
  src/backend/core/tests/test_models_users.py
  src/backend/core/tests/test_throttle.py
  src/backend/core/tests/test_utils_webhooks_scim_client.py
  src/backend/demo/management/commands/create_demo.py
  src/backend/demo/management/commands/createsuperuser.py
  src/backend/demo/tests/test_commands_create_demo.py
  src/backend/mailbox_manager/tests/api/mail_domain/test_api_mail_domains_create.py
  src/backend/mailbox_manager/tests/api/mail_domain/test_api_mail_domains_delete.py
  src/backend/mailbox_manager/tests/api/mail_domain/test_api_mail_domains_list.py
  src/backend/mailbox_manager/tests/api/mail_domain/test_api_mail_domains_retrieve.py
  src/backend/mailbox_manager/tests/test_api_mailboxes_create.py
  src/backend/mailbox_manager/tests/test_api_mailboxes_list.py
Labels: noChangeLog, backend

#270 🐛(helm) fix createsuperuser command
  src/helm/env.d/dev/values.desk.yaml.gotmpl
  src/helm/env.d/preprod/values.desk.yaml.gotmpl
  src/helm/env.d/production/values.desk.yaml.gotmpl
  src/helm/env.d/staging/values.desk.yaml.gotmpl
Labels: bug, helm
