Repository suitenumerique/people, pull requests merged in 2024-07, with the labels that each got.

#177 🧑‍💻(models) improve user str representation
  src/backend/core/models.py
  src/backend/core/tests/test_models_team_accesses.py
  src/backend/core/tests/test_models_users.py
Labels: noChangeLog, backend

#285 Stop collecting phone number data for mailbox creation
  src/frontend/apps/desk/src/features/mail-domains/api/useCreateMailbox.tsx
  src/frontend/apps/desk/src/features/mail-domains/components/forms/CreateMailboxForm.tsx
  src/frontend/apps/desk/src/i18n/translations.json
  src/frontend/apps/e2e/__tests__/app-desk/mail-domain-create-mailbox.spec.ts
Labels: frontend, noChangeLog

#288 ✨(models) add MailDomain status
  src/backend/mailbox_manager/admin.py
  src/backend/mailbox_manager/enums.py
  src/backend/mailbox_manager/factories.py
  src/backend/mailbox_manager/migrations/0006_maildomain_status.py
  src/backend/mailbox_manager/models.py
  src/backend/mailbox_manager/tests/test_api_mailboxes_create.py
  src/backend/mailbox_manager/tests/test_api_mailboxes_list.py
  src/backend/mailbox_manager/tests/test_models_mailboxes.py
Labels: noChangeLog

#289 ✨(models) add TeamAccess models on admin view
  src/backend/core/admin.py
Labels: noChangeLog

#310 📝(readme) update admin credentials in README
  README.md
Labels: documentation, noChangeLog, easy pick

#200 ✨(backend) allow to filter member on team access endpoint
  src/backend/core/api/viewsets.py
  src/backend/core/tests/team_accesses/test_api_team_accesses_list.py
Labels: noChangeLog, backend
