Repository suitenumerique/people, pull requests merged in 2025-04, with the labels that each got.

#861 ✅(pytest) fail on tests external calls
  src/backend/conftest.py
  src/backend/core/tests/team_accesses/test_api_team_accesses_delete.py
  src/backend/core/tests/test_models_team_accesses.py
Labels: noChangeLog, backend

#864 🐛(stats) rename stat for clarity
  src/backend/core/api/client/viewsets.py
  src/backend/core/tests/test_api_stats.py
Labels: noChangeLog, backend

#860 🐛(plugin) allow simple application name
  env.d/development/common.e2e.dist
  env.d/development/france.dist
  src/backend/core/management/commands/list_plugins.py
  src/backend/core/plugins/base.py
  src/backend/core/plugins/registry.py
  src/backend/plugins/la_suite/apps.py
Labels: noChangeLog, backend

#846 🔒️(users) restrict listable users to same organization
  CHANGELOG.md
  docker/auth/realm.json
  src/backend/core/api/client/viewsets.py
  src/backend/core/tests/users/test_api_users_list.py
  src/backend/demo/management/commands/create_demo.py
Labels: backend

#858 ➕(backend) add `django-lasuite` dependency
  CHANGELOG.md
  src/backend/core/api/resource_server/viewsets.py
  src/backend/core/authentication/backends.py
  src/backend/core/authentication/urls.py
  src/backend/core/authentication/views.py
  src/backend/core/resource_server/__init__.py
  src/backend/core/resource_server/authentication.py
  src/backend/core/resource_server/backend.py
  src/backend/core/resource_server/clients.py
  src/backend/core/resource_server/mixins.py
  src/backend/core/resource_server/urls.py
  src/backend/core/resource_server/utils.py
  src/backend/core/resource_server/views.py
  src/backend/core/tests/authentication/test_backends.py
  src/backend/core/tests/authentication/test_urls.py
  src/backend/core/tests/authentication/test_views.py
  src/backend/core/tests/resource_server/test_authentication.py
  src/backend/core/tests/resource_server/test_backend.py
  src/backend/core/tests/resource_server/test_clients.py
  src/backend/core/tests/resource_server/test_utils.py
  src/backend/core/tests/resource_server/test_views.py
  src/backend/core/tests/resource_server_api/conftest.py
  src/backend/people/api_urls.py
  src/backend/people/resource_server_urls.py
  src/backend/people/settings.py
  src/backend/pyproject.toml
  src/helm/env.d/dev/values.desk.yaml.gotmpl
Labels: backend

#866 🐛(ci) remove path to trigger relaese helm chart
  .github/workflows/release-helmchart.yml
Labels: noChangeLog

#871 💄(domain) enhance admin action label to import mailboxes
  src/backend/mailbox_manager/admin.py
Labels: noChangeLog

#876 📝(scripts) enhance release scripts instructions
  scripts/release.py
Labels: noChangeLog

#878 🐛(core) fix AccountService api_key field declaration
  src/backend/core/migrations/0015_alter_accountservice_api_key.py
  src/backend/core/models.py
Labels: noChangeLog

#877 🔧(renovate) add dimail-api to renovate scope
  renovate.json
Labels: noChangeLog, CI, dimail

#888 ⬆️(django-lasuite) bump version to v0.0.7
  src/backend/pyproject.toml
Labels: noChangeLog, backend

#886 🛂(dimail) request as people
  CHANGELOG.md
  Makefile
  docs/interoperability/dimail.md
  src/backend/mailbox_manager/api/client/serializers.py
  src/backend/mailbox_manager/signals.py
  src/backend/mailbox_manager/tests/api/mail_domain/test_api_mail_domains_create.py
  src/backend/mailbox_manager/tests/api/mail_domain_accesses/test_api_mail_domain_accesses_create.py
  src/backend/mailbox_manager/tests/api/mailboxes/test_api_mailboxes_create.py
  src/backend/mailbox_manager/tests/models/test_invitations.py
  src/backend/mailbox_manager/utils/dimail.py
Labels: backend, dimail

#883 📝(security) add a basic security disclosure policy
  SECURITY.md
Labels: noChangeLog

#892 🔧(sentry) add Celery beat task integration
  CHANGELOG.md
  src/backend/people/settings.py
Labels: backend

#897 🔒️(drf) disable browsable HTML API renderer
  CHANGELOG.md
  src/backend/mailbox_oauth2/tests/test_views.py
  src/backend/people/settings.py
Labels: backend, security
