Repository suitenumerique/people, pull requests merged in 2025-07, with the labels that each got.

#945 🐛(webhooks) fix special case for tchap integration
  src/backend/core/tests/utils/test_webhooks_matrix_client.py
  src/backend/core/utils/matrix.py
Labels: noChangeLog, backend, no-preprod-validation

#951 🐛(admin) fix read_only preventing mailbox creation in admin
  src/backend/mailbox_manager/admin.py
Labels: noChangeLog, backend, no-preprod-validation

#952 🔖(patch) release version 1.18.2
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/desk/package.json
  src/frontend/apps/e2e/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-people/package.json
  src/frontend/packages/i18n/package.json
Labels: release

#955 ⬆️(django-lasuite) bump to version 0.0.11
  src/backend/pyproject.toml
Labels: noChangeLog, backend, no-preprod-validation

#956 🐛(config) remove default sentry_dsn
  src/backend/people/settings.py
Labels: noChangeLog

#957 💥(sentry) remove `DJANGO_` before Sentry DSN env variable
  CHANGELOG.md
  src/backend/people/settings.py
  src/helm/env.d/dev-keycloak/values.desk.yaml.gotmpl
  src/helm/env.d/dev/values.desk.yaml.gotmpl
Labels: backend
